@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

:root {
    --color-text: #363434;
    --color-primary: #c6c4ff;
    --color-primary-lighter: #e6e5ff;
}
*{
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-text);
}
html, button{
    font-size: 16px;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 1.5rem;
}

#popup{
    font-size: 2rem;
    position: absolute;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

nav{

    background-color: aliceblue;
    min-width: 250px;
    height: 100%;
}

nav p{
    margin: 18px;
}

/* SVGs */
rect{
    fill: var(--color-primary);
}

rect:hover{
    fill: var(--color-primary-lighter);
}

/* Navigation */

.nav_controls {
    display: flex;
    flex-direction: column;
}

h1, h2{
    text-align: center;
}
h1{
    font-size: 3rem;
}

h2{
    margin: 0;
    font-size: 2rem;
}

main{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.labelContainer{
    position: absolute;
left: 10px;
}
section{
    margin: 15px;
}

.dataLabel{
    position: relative;
    display: inline-block;
}

.labelName{
    text-align: center;
}

.datalabel_container{
    width: 600px;
    position: relative;
    display: flex;
    justify-content: space-between;


}

.dataVis{
    width: auto;
}

button {
    cursor: pointer;
    font-size: 2rem;
    background-color: var(--color-primary);
    padding: 0.5rem;
    border: none;
    transition: 0.1s;
}
button:hover {
    background-color: var(--color-primary-lighter);
    padding: 0.5rem 1rem;
    border: none;
}

.svg_container{
    display: flex;
    justify-content: center;
}